**/.dockerignore
**/.git*
/cbuild
/.git*
!/.git/HEAD
!/.git/refs/heads
!/seismic-store-cpp-lib/.git/HEAD
!/seismic-store-cpp-lib/.git/refs/heads
**/build
**/tmp-*.zgy
**/test-venv
**/__pycache__
**/*.egg-info
**/.eggs
**/typescript*
**/*~
**/*#
misc/**
azure/**
**/Dockerfile*
/sd-env/Makefile
