productName=Seismic Store
projectName=OpenZGY
projectVersion=1.0

wss.url=https://app-eu.whitesourcesoftware.com/agent

############
# Policies #
############
checkPolicies=true
forceCheckAllDependencies=true
forceUpdate=true
forceUpdate.failBuildOnPolicyViolation=true

###########
# General #
###########
log.level=debug

###########################################################################################
# Includes/Excludes Glob patterns - Please use only one exclude line and one include line #
###########################################################################################
includes=**/*.c **/*.cc **/*.cp **/*.cpp **/*.cxx **/*.c++ **/*.h **/*.hxx **/*.hpp **/*.dll **/*.cs **/*.nupkg **/*.zip **/*.tar.gz **/*.egg **/*.whl **/*.py
followSymbolicLinks=true
